.bord {

    background-color: lawngreen;
    border: solid 10px navy;
    margin: auto;
    width: 400px;
    height: 400px;
    outline: solid 15px green;
    margin-top: 30px;
    text-align: center;
}

span.m2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
    /*or margin-top: 200px; */

}