body {
    margin: 0;
    background-color: #f2e1e1!important;

}
body, h1, h2{
    font-family: "Raleway", sans-serif;
}

.im1{
    width: 100%;
    background-position: center;
    background-size: cover;
}
h1{
    position: absolute;
    margin: auto;
}