body {
    background-image: url(1.jpg);
    background-repeat: repeat-x;
}

div.m2 {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border: solid lightgray;
    border-width: 0 1px 3px 0;
    padding: 15px 0 15px 5%;
    color: gray;
}

th {
    background-color: rgba(38, 175, 14, 0.36);
    color: white;
}

td.white {
    background-color: white;
    color: blue;
}